.header {
    display: flex;
    align-items:flex-start;
    align-content:flex-start;
    height: 200px;
    width: 100%;
    padding: 30px 30px 0 30px;
    background: url('/src/assets/img/header_bg.png') repeat-x;
    &__right{
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
    }
}