.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.6);
}

.content {
  background-color: #152f3b;
  position: absolute;
  left: 50%;
  top: 5vh;
  max-width: 550px;
  width: 100%;
  padding: 15px;
  transform: translateX(-50%);
}
