.auth_form {
    background: url("../../assets/img/leaderboard_bg.png") no-repeat center center;
    background-size: 100%;
    margin: 0 auto;
    padding: 110px;
    position: relative;
    width: 760px;
    @media all and (max-width: 767px) {
        background: transparent;
        height: max-content;
        max-width: calc(100% - 30px);
        padding: 30px;
    }

    &::after {
        background: #000000;
        bottom: 80px;
        content: "";
        left: 80px;
        position: absolute;
        right: 80px;
        top: 80px;
        @media all and (max-width: 767px) { bottom: 0;
            left: 0;
            right: 0;
            top: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 2;

        .form {
            display: flex;
            flex-wrap: wrap;

            div {
                margin-right: 20px;
                width: calc(50% - 10px);

                &:nth-child(2n) {
                    margin-right: 0;
                }
                @media all and (max-width: 767px) {
                    margin-right: 0;
                    width: 100%;
                }
            }

            h2 {
                width: 100%;
            }

            .btn_submit {
                margin-top: auto;
            }

            a {
                display: block;
                margin-top: 10px;
                text-align: center;
                text-decoration: underline;
                width: 100%;
            }
        }
    }
}
