.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
}

.auth_form{
    width: 760px;
    height: 670px;
    background: url('../../assets/img/leaderboard_bg.png') no-repeat;
    background-size: cover;
    position: relative;
    padding: 110px;
    @media all and (max-width: 767px){
        background: transparent;
        padding: 30px;
        max-width: calc(100% - 30px);
        margin: 0 auto;
        height: max-content;
    }
    &:after{
        content: '';
        background: #000;
        position: absolute;
        top: 80px; right: 80px; bottom: 80px; left: 80px;
        @media all and (max-width: 767px){
            top: 0px; right: 0px; bottom: 0px; left: 0px; 
        }
    }
    &__content{
        position: relative;
        z-index: 2;
        .form{
            display: flex;
            flex-wrap: wrap;
            & > div {
                width: calc(50% - 10px);
                margin-right: 20px;
                &:nth-child(2n){
                    margin-right: 0px;
                }
                @media all and (max-width: 767px){
                    width: 100%;
                    margin-right: 0;
                }
            }
            h2{
                width: 100%;
            }
            .btn_submit{
                margin-top: auto;
            }
            a{
                width: 100%;
                display: block;
                text-align: center;
                margin-top: 10px;
                text-decoration: underline;
            }
        }
    }
}
.title{
    text-align: center;
    margin-bottom: 30px;
}